# Copyright (c) 2026 MuseLab nanoESP32-S3 Zephyr port
# SPDX-License-Identifier: Apache-2.0

config BOARD_NANO_ESP32S3
	select SOC_ESP32S3_WROOM_N8R8
	select SOC_ESP32S3_PROCPU if BOARD_NANO_ESP32S3_ESP32S3_PROCPU
